@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.square{
    display: flex;
    width: 120px;
    height: 300px;
    background-color: gray;
    flex-direction: column;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    
}

.paso1{
    width: 60px;
    margin-top: 10px;
    height: 33%;
    background-color: red;
    opacity: 0.5;
    border-radius: 50%;
}
.paso2{
    width: 60px;
    margin-top: 10px;
    height: 33%;
    background-color:yellow;
    opacity: 0.5;
    border-radius: 50%;
}
.paso3{
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 33%;
    background-color:green;
    opacity: 0.5;
    border-radius: 50%;
}
.paso11{
    width: 60px;
    margin-top: 10px;
    height: 33%;
    background-color: red;
    opacity: 1;
    border-radius: 50%;
}
.paso22{
    width: 60px;
    margin-top: 10px;
    height: 33%;
    background-color:yellow;
    opacity: 1;
    border-radius: 50%;
}
.paso33{
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 33%;
    background-color:green;
    opacity: 1;
    border-radius: 50%;
}

